<h2>Add weight</h2>
<script>
    function goBack() {
      window.history.back();
    }
</script>
  
<a onclick="goBack()" class="previous">← Back</a>
<%- include ('./partials/messages') %>
    <form action="<%= action %>" method="POST">
        <div>
            <label for="weight">Weight:</label>
            <input name="weight" placeholder="Enter weight (in kg)"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add weight</button>
    </form>