<a href="/dashboard">Back to dashboard</a>

<h2>Add weight</h2>
<%- include ('./partials/messages') %>
    <form action="/weight/add" method="POST">
        <div>
            <label for="weight">Weight:</label>
            <input name="weight" placeholder="Enter weight (in kg)"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add weight</button>
    </form>