<p class="lead mb-3">Welcome <%= user.name %></p>
<%- include ('./partials/messages'); %>
<a href="/food/add">Add food</a>
<a href="/food/list">Food list</a>
<a href="/weight/add">Add weight</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

