<div class="list-group diets">
    <a href="/recipes/standard" class="list-group-item list-group-item-action">Standard diet</a>
    <a href="/recipes/low-carb" class="list-group-item list-group-item-action">Low-carb diet</a>
    <a href="/recipes/paleo" class="list-group-item list-group-item-action">The paleo diet</a>
    <a href="/recipes/low-fat" class="list-group-item list-group-item-action">Low-fat diet</a>
    <a href="/recipes/mediterranean" class="list-group-item list-group-item-action">The Mediterranean diet</a>
    <a href="/recipes/vegetarian" class="list-group-item list-group-item-action">Vegetarian diet</a>
    <a href="/recipes/vegan" class="list-group-item list-group-item-action">Vegan diet</a>
    <a href="/recipes/frutarian" class="list-group-item list-group-item-action">Frutarian diet</a>
  </div>