<script>
    function goBack() {
      window.history.back();
    }
</script>
  
<a onclick="goBack()" class="previous">← Back</a>

<h2>Food list</h2>

<ul>
<% foods.forEach(function(food){ %>
    <li>
        <a href="<%= food.name %>-<%= food.weight %>"><%= food.name %> - <%= food.weight %> g</a>
    </li>
<% }); %>
</ul>