body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #141414;
}

a {
  color: #f7f7f7;
}

.card{
  background-color: #080808;
}

h1 {
  color: #f7f7f7;
}
p {
  color: #f7f7f7;
}